# A/B 테스트
- 기술적으로 매우 쉬움
- 이미 얻어진 데이터를 가지고 t-test나 회귀 돌려보고 통계적으로 해석하는 건 매우 쉽다
- 그러나 중요한(그리고 어려운) 것은 우리가 알고자하는 효과에 영향을 미칠 수 있는 외생변수를 잘 발라낼 수 있게 실험을 설계하는 것임

### 데이터는 다음의 출처에서 가져옴. (udacity의 강좌에 제공된 데이터셋으로 보임)
https://github.com/BaekKyunShin/Data-Analyst-Nanodegree/blob/master/DataSet/course_page_actions.csv

In [4]:
from scipy import stats
import pandas as pd

df = pd.read_csv('ab_data.csv')

df

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]

In [10]:
stats.ttest_ind(df[df['group']=='treatment']['converted'],
                df[df['group']=='control']['converted'], 
                equal_var=False)

Ttest_indResult(statistic=-1.2369191070650907, pvalue=0.21611810218868657)

- result: (랜딩 페이지가 다른) 두 그룹간의 전환율 차이가 유의미하다고 보기 어렵다.